   body {
      font-family: Arial, sans-serif;
      background: #f4f6f8;
      display: flex;
      justify-content: center;
      padding: 40px;
    }

    .container {
      background: white;
      padding: 20px;
      width: 400px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(255, 77, 0, 0.5);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    button {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      background: rgb(255, 153, 0);
      color: white;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover {
      background: rgb(255, 166, 33);
    }

    .reset {
      background: #e74c3c;
    }

    .reset:hover {
      background: #c0392b;
    }

    .array-output {
      margin-top: 20px;
      background: #f0f0f0;
      padding: 10px;
      border-radius: 5px;
      font-family: monospace;
      font-size: 14px;
      white-space: pre-wrap;
    }

    .income {
    color: green;
  }

    .expense {
      color: red;
    }